Build started...
Build succeeded.
CREATE TABLE IF NOT EXISTS "__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL,
    CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId")
);

START TRANSACTION;
CREATE TABLE "Permissions" (
    "Id" uuid NOT NULL,
    "Name" text NOT NULL,
    CONSTRAINT "PK_Permissions" PRIMARY KEY ("Id")
);

CREATE TABLE "Roles" (
    "Id" uuid NOT NULL,
    "Name" text NOT NULL,
    CONSTRAINT "PK_Roles" PRIMARY KEY ("Id")
);

CREATE TABLE "Users" (
    "Id" uuid NOT NULL,
    "Username" text NOT NULL,
    "FirstName" text NOT NULL,
    "LastName" text NOT NULL,
    "Email" text NOT NULL,
    "PasswordHash" text NOT NULL,
    "DateOfBirth" timestamp with time zone NOT NULL,
    "PhoneNumber" text NOT NULL,
    "Address" text NOT NULL,
    CONSTRAINT "PK_Users" PRIMARY KEY ("Id")
);

CREATE TABLE "RolePermissions" (
    "RoleId" uuid NOT NULL,
    "PermissionId" uuid NOT NULL,
    CONSTRAINT "PK_RolePermissions" PRIMARY KEY ("RoleId", "PermissionId"),
    CONSTRAINT "FK_RolePermissions_Permissions_PermissionId" FOREIGN KEY ("PermissionId") REFERENCES "Permissions" ("Id") ON DELETE CASCADE,
    CONSTRAINT "FK_RolePermissions_Roles_RoleId" FOREIGN KEY ("RoleId") REFERENCES "Roles" ("Id") ON DELETE CASCADE
);

CREATE TABLE "UserPermissions" (
    "UserId" uuid NOT NULL,
    "PermissionId" uuid NOT NULL,
    CONSTRAINT "PK_UserPermissions" PRIMARY KEY ("UserId", "PermissionId"),
    CONSTRAINT "FK_UserPermissions_Permissions_PermissionId" FOREIGN KEY ("PermissionId") REFERENCES "Permissions" ("Id") ON DELETE CASCADE,
    CONSTRAINT "FK_UserPermissions_Users_UserId" FOREIGN KEY ("UserId") REFERENCES "Users" ("Id") ON DELETE CASCADE
);

CREATE TABLE "UserRoles" (
    "UserId" uuid NOT NULL,
    "RoleId" uuid NOT NULL,
    CONSTRAINT "PK_UserRoles" PRIMARY KEY ("UserId", "RoleId"),
    CONSTRAINT "FK_UserRoles_Roles_RoleId" FOREIGN KEY ("RoleId") REFERENCES "Roles" ("Id") ON DELETE CASCADE,
    CONSTRAINT "FK_UserRoles_Users_UserId" FOREIGN KEY ("UserId") REFERENCES "Users" ("Id") ON DELETE CASCADE
);

CREATE INDEX "IX_RolePermissions_PermissionId" ON "RolePermissions" ("PermissionId");

CREATE INDEX "IX_UserPermissions_PermissionId" ON "UserPermissions" ("PermissionId");

CREATE INDEX "IX_UserRoles_RoleId" ON "UserRoles" ("RoleId");

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20260210125336_SeedRBAC', '9.0.1');

ALTER TABLE "Users" ADD "IsAdmin" boolean NOT NULL DEFAULT FALSE;

INSERT INTO "Permissions" ("Id", "Name")
VALUES ('aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa', 'User.Create');
INSERT INTO "Permissions" ("Id", "Name")
VALUES ('bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb', 'User.Update');
INSERT INTO "Permissions" ("Id", "Name")
VALUES ('cccccccc-cccc-cccc-cccc-cccccccccccc', 'User.Delete');

INSERT INTO "Roles" ("Id", "Name")
VALUES ('11111111-1111-1111-1111-111111111111', 'Admin');
INSERT INTO "Roles" ("Id", "Name")
VALUES ('22222222-2222-2222-2222-222222222222', 'Moderator');

INSERT INTO "RolePermissions" ("PermissionId", "RoleId")
VALUES ('aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa', '11111111-1111-1111-1111-111111111111');
INSERT INTO "RolePermissions" ("PermissionId", "RoleId")
VALUES ('bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb', '11111111-1111-1111-1111-111111111111');
INSERT INTO "RolePermissions" ("PermissionId", "RoleId")
VALUES ('cccccccc-cccc-cccc-cccc-cccccccccccc', '11111111-1111-1111-1111-111111111111');

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20260219150317_AddIsAdminToUser', '9.0.1');

CREATE TABLE "TrainingLevels" (
    "Id" uuid NOT NULL,
    "Name" character varying(100) NOT NULL,
    "Description" character varying(1000),
    "SequenceOrder" integer NOT NULL,
    "PrerequisiteLevelId" uuid,
    "IsActive" boolean NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL,
    CONSTRAINT "PK_TrainingLevels" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_TrainingLevels_TrainingLevels_PrerequisiteLevelId" FOREIGN KEY ("PrerequisiteLevelId") REFERENCES "TrainingLevels" ("Id") ON DELETE RESTRICT
);

CREATE TABLE "LeaderProgresses" (
    "Id" uuid NOT NULL,
    "UserId" uuid NOT NULL,
    "CurrentLevelId" uuid NOT NULL,
    "StartedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL,
    CONSTRAINT "PK_LeaderProgresses" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_LeaderProgresses_TrainingLevels_CurrentLevelId" FOREIGN KEY ("CurrentLevelId") REFERENCES "TrainingLevels" ("Id") ON DELETE RESTRICT,
    CONSTRAINT "FK_LeaderProgresses_Users_UserId" FOREIGN KEY ("UserId") REFERENCES "Users" ("Id") ON DELETE CASCADE
);

CREATE TABLE "LevelHistories" (
    "Id" uuid NOT NULL,
    "UserId" uuid NOT NULL,
    "FromLevelId" uuid,
    "ToLevelId" uuid NOT NULL,
    "ChangedAt" timestamp with time zone NOT NULL,
    "ChangedBy" uuid NOT NULL,
    "Reason" text NOT NULL,
    "Notes" character varying(500),
    CONSTRAINT "PK_LevelHistories" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_LevelHistories_TrainingLevels_FromLevelId" FOREIGN KEY ("FromLevelId") REFERENCES "TrainingLevels" ("Id") ON DELETE RESTRICT,
    CONSTRAINT "FK_LevelHistories_TrainingLevels_ToLevelId" FOREIGN KEY ("ToLevelId") REFERENCES "TrainingLevels" ("Id") ON DELETE RESTRICT,
    CONSTRAINT "FK_LevelHistories_Users_ChangedBy" FOREIGN KEY ("ChangedBy") REFERENCES "Users" ("Id") ON DELETE RESTRICT,
    CONSTRAINT "FK_LevelHistories_Users_UserId" FOREIGN KEY ("UserId") REFERENCES "Users" ("Id") ON DELETE CASCADE
);



CREATE INDEX "IX_LeaderProgresses_CurrentLevelId" ON "LeaderProgresses" ("CurrentLevelId");

CREATE UNIQUE INDEX "IX_LeaderProgresses_UserId" ON "LeaderProgresses" ("UserId");

CREATE INDEX "IX_LevelHistories_ChangedBy" ON "LevelHistories" ("ChangedBy");

CREATE INDEX "IX_LevelHistories_FromLevelId" ON "LevelHistories" ("FromLevelId");

CREATE INDEX "IX_LevelHistories_ToLevelId" ON "LevelHistories" ("ToLevelId");

CREATE INDEX "IX_LevelHistories_UserId" ON "LevelHistories" ("UserId");

CREATE UNIQUE INDEX "IX_TrainingLevels_Name" ON "TrainingLevels" ("Name");

CREATE INDEX "IX_TrainingLevels_PrerequisiteLevelId" ON "TrainingLevels" ("PrerequisiteLevelId");

CREATE INDEX "IX_TrainingLevels_SequenceOrder" ON "TrainingLevels" ("SequenceOrder");

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20260223153611_AddTrainingLevelsSystem', '9.0.1');

COMMIT;


